<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible"/>
    <meta name="author" content=""/>
    <title>Myschelin 관리자 페이지</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet"/>
    <link href="/css/styles.css" rel="stylesheet"/>
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet"/>
    <script src="https://kit.fontawesome.com/6a5f5c3c1d.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body class="sb-nav-fixed">
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand ps-3">Myschelin Administrator</a>
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0" action="/stores">
        <div class="input-group">
            <label>
                <input class="form-control" type="text" placeholder="가게 찾기" name="storeName" id="store-name"/>
            </label>
            <input type="text" hidden name="userId" th:value="${userId}">
            <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i></button>
        </div>
    </form>
    <div type="text" class="badge bg-primary" style="margin-right: 10px" id="user-name">
    </div>
</nav>
<div id="layoutSidenav_content">
    <div class="container-fluid px-4">
            <h1 class="mt-4"></h1>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    내 맛집 목록
                </div>
                <div class="row container-fluid" id="store-cards">

                </div>
            </div>
        </div>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    const userId = /*[[${userId}]]*/;
    function getStoreInfo() {
        axios.get("http://localhost:8080/api/v1/users/" + userId + "/stores")
            .then(response => {
                if(response.status == 200) {
                    let stores = response.data["stores"];
                    let storeCards = document.getElementById("store-cards");
                    if(stores.length == 0) alert("찜한 가게가 없습니다.");
                    for(var i = 0; i < stores.length; i++) {
                        storeCards.innerHTML += '<div class="col-md-3 mt-2">\n' +
                            '                        <div class="card p-3 mb-2 mt-auto">\n' +
                            '                            <img src="http://localhost:8080/img/' + `${stores[i].imagePath}` + '" class="img-thumbnail store-thumbnail" style="object-fit: contain; width: auto; height: 200px">\n' +
                            '                            <div class="mt-1">\n' +
                            '                                <h3 class="heading">'+ `${stores[i].name}` + '</h3>\n' +
                            '                                <p>'+ `${stores[i].description}` + '</p>\n' +
                            '                                <span class="badge bg-secondary">' + `${stores[i].category}` + '</span>\n' +
                            '                            </div>\n' +
                            '                        </div>\n' +
                            '                    </div>'
                    }
                }
            })
            .catch((err) => {
                console.log(err);
            })
    }


    function getUserName() {
        axios.get("http://localhost:8080/api/v1/users/" + userId)
            .then((response) => {
                let user = response.data;
                document.getElementById("user-name").innerHTML = '<div>' + `${user.nickname}` + '</div>'
            })
            .catch((err) => {
                console.log(err);
            })
    }

    window.addEventListener('load', () => {
        getUserName();
        getStoreInfo();
    })

    /*]]>*/
</script>
</body>
</html>